* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Baby";
    src: url(../fonts/Baby\ Doll.otf);
}

@font-face {
    font-family: "Kanit";
    src: url(../fonts/Kanit-Regular.ttf);
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

:root {
    /* TEMA ESCURO */
    --cor-fundo: #15151c;
    --cor-texto: #fafafa;
    --cor-texto2: rgb(180, 180, 180);
    --cor-header-fundo: #1a1a22;
    --cor-texto-botao: #000000;
    --cor-destaque: #5156AE  !important; 
    --texto-header: 22px;
}

[data-theme='light'] {
    /* Cores do CLARO */
    --cor-fundo: rgb(252, 252, 252);
    --cor-texto: #000000;
    --cor-texto2: rgb(80, 80, 80);
    --cor-header-fundo: rgb(255, 255, 255);
    --cor-texto-botao: #ffffff;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: background-color 0.3s, color 0.3s;
}

a,
p,
h1,
li {
    color: var(--cor-texto);
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

button {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.404);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 8px;
    font-size: 12px;
    background-color: var(--cor-destaque);
    color: white;
    width: 108px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    font-family: "Baby";
    z-index: 0;
}
button:after{
    border-radius: 1rem;
    content: '';
    background-color: #757dfe;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: -1;
    transition: scale 0.5s ease-in-out;
}
button:hover {
    scale: 1.1;
    color: white;
    transition: all 0.3s;
}
button:hover::after{
    width: 2px;
    height: 2px;
    scale: 200;
}

.HeaderBorder {
    background-color: var(--cor-header-fundo);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 1000;
    /* background: var(--cor-fundo); */
    position: sticky;
    padding: 0.5rem;
}

.bar {
    height: 2px;
    width: 0;
    background-color: var(--cor-destaque);
    transition: width 0.3s ease;
}

.container {
    margin-right: 82px;
}

.container:hover .bar {
    width: 100%;
}

header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
    max-width: 90%;

}

header ul {
    display: flex;
    align-items: center;
}

ul a {

    position: relative;
    z-index: 1;
    color: var(--cor-texto);
    font-size: var(--texto-header);
}

a:hover {
    color: var(--cor-destaque);
    transition: all 0.3s;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo p {
    text-align: center;
    color: var(--cor-destaque);
    margin-left: 8px;
    font-family: "Baby";
    font-weight: bolder;
    font-size: var(--texto-header);
}
.tech{
    font-family: 'kanit';
    font-size: 13px;
    text-transform: uppercase;
}
.img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}

.settings {
    cursor: pointer;
    position: relative;
}

.settings:hover .menu-hidden {
    display: block;
}

.mudar-cor:hover #cor-select {
    display: block;
}

.mudar-cor {
    padding: 4px;
}

.mudar-cor span {
    font-size: var(--texto-header);
    font-family: "Kanit";
}

.menu-hidden {
    padding: 4px;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background-color: var(--cor-header-fundo);
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    list-style: none;
    margin: 0;
    width: max-content;
    z-index: 1;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#ImgTheme {
    padding-top: 8px;
    width: 22px;
    cursor: pointer;
}
.destaque{
    background: linear-gradient(-90deg, rgb(50, 53, 143) 0%, rgb(152, 124, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: var(--cor-destaque);
}
.iconMission:hover {
    transform: translate(0px, -10px);
    transition: all 0.2s;
}

.iconMission:hover .st0 {
    transition: all 0.2s;
    stroke: rgb(255, 243, 79);
}

.iconFlag:hover {
    transform: translate(0px, -10px);
    transition: all 0.2s;
}

.iconFlag:hover .iconFlagFill {
    transition: all 0.2s;
    fill: rgb(255, 243, 79);
}
.iconFlagFill {
    fill: rgb(79, 81, 255);
}
.iconHeart:hover {
    transform: translate(0px, -10px);
    transition: all 0.2s;
}
.iconHeartFill:hover{
    transition: all 0.2s;
    fill: yellow;
}
#cor-select {
    font-family: 'Kanit';
    outline: 0;
    text-decoration: none;
    border: 0;
    background-color: var(--cor-header-fundo);
    color: var(--cor-texto);
    font-size: var(--texto-header);
    cursor: pointer;
    display: none;
    background-color: var(--cor-header-fundo);
    list-style: none;
    text-align: center;
}

.Welcome-title,  .Welcome-title2{
    text-align: center;
    font-size: 3rem;
}

section {
    /* padding: 10rem; */
    height: 820px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
    max-width: 90%;
    justify-content: center;
    gap: 4rem;
}

section p {
    font-size: 22px;
}

section button {
    padding: 16px;
    font-size: 22px;
    width: max-content;
    border-radius: 1em;
    font-family: "Baby";
}

/* QUEM SOMOS */
.quem-somos {
    padding: 80px;
    text-align: center;
}

.quem-somos h1 {
    font-size: 3.5rem;
}

.quem-somos p {
    font-size: 24px;
    padding: 2rem;
}

.quem-somos img {
    max-width: 380px;
    width: 100%;
}

.empresaMissao {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.containerproposito {
    padding: 24px;
    align-items: center;
    text-align: center;
    width: 300px;
}

.containerproposito:nth-child(1){
    border-left: 2px solid var(--cor-texto);
}
.containerproposito:nth-child(2) {
    border-left: 2px solid var(--cor-texto);
    border-right: 2px solid var(--cor-texto);
}
.containerproposito:nth-child(3){
    border-right: 2px solid var(--cor-texto);
}
.containerproposito p,
li {
    font-size: 20px;
    font-family: "Kanit";
    font-weight: 200;
}

.containerproposito img {
    margin-bottom: 8px;
}

/*  Animação dos icones da missao visao valores*/
.containerproposito img:hover {
    transform: translate(0px, -10px);
    transition: 0.2s transform ease;
}

.TituloQS {
    animation: tituloqs 3s infinite ease-in-out;
}
footer{
    padding: 4rem;
    background: #08080c;
    height: max-content;
    
}
footer .logo{
    padding: 3rem;
}
footer .logo a{
    justify-content: center;
    filter: grayscale(1) brightness(2);
}
footer .logo img{
    width: 100px;   
}
.contFooter{
    width: max-contentf;
    margin-right: 0;
}
.container-texto-footer{
    margin-top: 1rem;
    border-top: 2px solid #ffffff;
    display: flex;
    justify-content: space-between;
}
.container-texto-footer p, .container-texto-footer nav, .container-texto-footer a{
    /* margin-top: 1rem;  */
    color: #ffffff;
    a{color: #ffffff;}
}
@keyframes tituloqs {
    50% {
        letter-spacing: 2px;
    }

    100% {
        letter-spacing: 0px;
    }
}

.toProduto {
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 8rem;
    width: max-content;
}

.toProduto button {
    padding: 16px;
    font-size: 22px;
    width: max-content;
    border-radius: 1em;
    font-family: "Baby";
}

.ProductText {
    text-align: center;
}

.sectionProduct {
    align-items: center;
    display: flex;
    margin: auto;
    width: 90rem;
    max-width: 90%;
    justify-content: center;
    gap: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.sectionProductImg1{
    margin-top: 2rem;
}
.ProductText p {
    font-size: 1.5rem;
}
.ProductText h1 {
    font-size: 3rem;
}
.sugestao{
    margin-top: 4rem;
}
.sugestaoContainer{
    background: rgba(255, 255, 255, 0.034);
    border-top: solid var(--cor-destaque) 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #0000004d;
    width: max-content;
    margin: auto;
    text-align: center;
    margin-bottom: 8rem;
    margin-top: 4rem;
    padding: 2rem; 
}
.sugestaoContainer form{
    text-align: left;
}
.sugestaoContainer form label{
    text-align: left;
    margin-bottom: 4px;
    font-family: "Kanit";
}
.sugestaoContainer form input, textarea{
    padding: 4px;
    border: 0;
    margin-top: 8px;
    width: 200px;
    border-bottom: solid 2px var(--cor-destaque);
}
.sugestaoContainer form input:focus-visible, textarea:focus-visible{
    box-shadow: 0px 0px 4px #5156ae4d;
    outline: 0;
}
textarea{
    height: 100px;
}
.sugestaoContainer form button{
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin: auto;
}
.downloadButtons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.downloadBtn:hover{
    color: white;
}
.downloadBtn{
    display: flex;
    align-items: center;
    border-radius: 4px;
    width: max-content;
    font-size: 1em;
    background-color: black;
    font-family: sans-serif;
    color: white;
    padding: 6px;
}
.downloadBtn strong{
    font-size: 1.5em
}
.downloadIcon{
    width: 40px;
}
/* RESPONSIVIDADE */
section img {
    filter: saturate(0.7);
    max-width: 500px;
    width: 90%;
    transform: translateY(-40px);
}

.text {
    text-align: center;
}
@media (max-width: 1400px) {

    ul{
        list-style-type: none;
    }
}

@media (max-width: 900px) {
    header {
        justify-content: center;
    }

    header .logo {
        display: none;
    }

    .sectionProduct {
        flex-direction: column;

        img {
            transform: translate(0);
        }
    }
}
@media (max-width: 780px) {

    .Welcome-title,
    .Product-title {
        font-size: 2rem;
    }
    .container-texto-footer{
        flex-direction: column;
    }
}

@media (max-width: 560px) {

    .Welcome-title,
    .Product-title {
        font-size: 1rem;
    }

    section img,
    .sectionProduct img {
        max-width: 200px;
    }
}

@media (max-width: 535px) {
    .downloadBtn{
        font-size: 0.8em;
    }
    .Welcome-title {
        font-size: 1.5rem;
    }

    .text p {
        font-size: 0.8rem;
    }

    .text {
        text-align: center;
    }

    section {
        flex-direction: column;
        gap: 0;
    }

    section img {
        transform: translateY(0px);
        max-width: 350px;
    }

    :root {
        --texto-header: 10px;
    }

    .container {
        margin-right: 12px;
    }

    .quem-somos h1 {
        margin-top: 3rem;
        font-size: 2.5rem;

    }

    .quem-somos {
        margin-top: 36px;
        padding: 6px;
    }

    .quem-somos p {
        font-size: 18px;
    }
    .quem-somos img{
        width: 50%;
    }
    .containerproposito p,
    li {
        font-size: 0.8rem;
        list-style-type: none;
    }

    .containerproposito h1 {
        font-size: 1rem;
    }

    .containerproposito svg {
        width: 92px;
    }

    .containerproposito {
        padding: 4px;
    }
}
