*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
/* APRENDER A USAR O :ROOT PARA MUDAR A COR DE FUNDO E O ::BEFORE ::AFTER*/
}
@font-face {
    font-family: "Baby";
    src: url(../fonts/Baby\ Doll.otf);
}
@font-face {
    font-family: "Kanit";
    src: url(../fonts/Kanit-Regular.ttf);
    font-weight: 400;
}
/* Personalizar a largura da barra de rolagem */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

:root{ /* TEMA ESCURO */
    --cor-fundo: #212121;
    --cor-texto: #FFFFFF;
    --cor-texto2: rgb(180, 180, 180);
    --cor-header-fundo: rgb(25 25 25);
    --cor-texto-botao: #000000;
    --cor-destaque: rgb(119 109 255);

    --texto-header: 22px;
}
[data-theme='light'] {
    /* Cores do CLARO */
    --cor-fundo: rgb(252, 252, 252);
    --cor-texto: #000000;
    --cor-texto2: rgb(80, 80, 80);
    --cor-header-fundo: rgb(255, 255, 255);
    --cor-texto-botao: #ffffff;
}
       
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: background-color 0.3s, color 0.3s;
}

a, p, h1, li{
    color: var(--cor-texto);
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}
button::before {
    content: '';
    position: absolute;
    top: 50%;
    /* left: 50%; */
    width: 26px;
    height: 10px;
    background-color: var(--cor-destaque);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s;
    z-index: -1;
}

button:hover::before {
    transform: translate(-50%, -50%) scale(10); /* Tamanho desejado */
}
button{
    position: relative;
    overflow: hidden;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 8px;
    font-size: 12px;
    background-color: var(--cor-texto);
    color: var(--cor-texto-botao);
    width: 108px;
    outline: 0;
    border: 0;
    border-radius: 20px;
}
button:hover{
    scale: 1.1;
    color: white;
    background: var(--cor-destaque);
    transition: all 0.3s;
}
.HeaderBorder{
    background-color: var(--cor-header-fundo);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.bar {
    height: 2px;
    width: 0; 
    background-color: var(--cor-destaque);
    transition: width 0.3s ease;
}

.container {
    margin-right: 82px;
}
.container:hover .bar {
    width: 100%;
}
header{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* background-color: rgba(0, 0, 0, 0.5);*/
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
    max-width: 90%;
}

header ul{
    display: flex;
    align-items: center;
}
ul a{
   
    position: relative;
    z-index: 1;
    color: var(--cor-texto);
    font-size: var(--texto-header);
}
a:hover{
    color: var(--cor-destaque);
    transition: all 0.3s;
}
.logo a
{
    display: flex;
    align-items: center;
}
.logo p
{
        color: var(--cor-destaque);
        margin-left: 8px;
        font-family: "Baby";
        font-weight: bolder;
        font-size: var(--texto-header);;
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}
.settings{
    cursor: pointer;    
    position: relative;
}
.settings:hover .menu-hidden{
    display: block;
}
.mudar-cor:hover #cor-select{
    display: block;
}
.mudar-cor{
   padding: 4px;
}
.mudar-cor span{
    font-size: var(--texto-header);
    font-family: "Kanit";
}
.menu-hidden{
    display: none; /* Esconde o menu inicialmente */
    position: absolute;
    top: 100%;
    left: 50%; /* Move o menu 50% do lado esquerdo */
    transform: translateX(-50%);
    right: 0;
    background-color: var(--cor-header-fundo);
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    list-style: none;
    margin: 0;
    width: max-content;
    z-index: 1;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
#ImgTheme{
    padding-top: 8px;
    width: 22px;
    cursor: pointer;
}

.iconMission:hover{
    transform: translate(0px, -10px);
    transition: all 0.2s;
}
.iconMission:hover .st0
{
    transition: all 0.2s;
    stroke: rgb(255, 203, 108);
}
.iconFlag:hover{
    transform: translate(0px, -10px);
    transition: all 0.2s;
}
.iconFlag:hover .iconFlagFill
{
    transition: all 0.2s;
    fill: rgb(79, 81, 255);
}
.iconHeart:hover{
    transform: translate(0px, -10px);
    transition: all 0.2s;
}
.iconHeartFill:hover{
    fill: red;
    transition: all 0.2s;
}
#cor-select{
    font-family: 'Kanit';
    outline: 0;
    text-decoration: none;
    border: 0;
    background-color: var(--cor-header-fundo);
    color: var(--cor-texto);
    font-size: var(--texto-header);
    cursor: pointer;
    display: none; 
    background-color: var(--cor-header-fundo);
    list-style: none;
    text-align: center;
}
.Welcome-title{
    font-size: 4.5rem;
}
section{
    align-items: center;
    display: flex;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
    max-width: 90%;
    justify-content: space-around;
}
section p{
        font-size: 22px;
}
section button{
    padding: 16px;
    font-size: 22px;
    width: max-content;
    border-radius: 1em;
    font-family: "Baby";
}

.text p{
    color: var(--cor-texto2);
}
/* QUEM SOMOS */
.quem-somos{
    padding: 80px;
    text-align: center;
}
.quem-somos h1{
    font-size: 4.5rem;
}
.quem-somos p{
    font-size: 24px;
    padding: 3rem;
}
.quem-somos img{
    max-width: max-content;
    width: 100%;
}
.empresaMissao{
    display: flex;
    justify-content: space-around;
}
.containerproposito{
    padding: 24px;
    align-items: center;
    text-align: center;
    width: 300px;
}
.containerproposito p, li{
    font-size: 20px;
    font-family: "Kanit";
    font-weight: 200;
}
.containerproposito img{
    margin-bottom: 8px;
}
/*  Animação dos icones da missao visao valores*/
.containerproposito img:hover{
    transform: translate(0px, -10px);
    transition: 0.2s all;
}
.valorUl{
    text-align: left;
}
.TituloQS{
    animation: tituloqs 3s infinite ease-in-out;
}

@keyframes tituloqs {
    50%
    {
        letter-spacing: 2px;
    }
    100%
    {
        letter-spacing: 0px;
    }
}
/* RESPONSIVIDADE */
section img{
    max-width: 300px;
    width: 90%;
}
@media (max-width: 425px ){
    .Welcome-title{
        font-size: 1.5rem ;
    }
    .text p{
        font-size: 0.8rem;
    }
    .text{
        text-align: center;
    }
    section img{
        display: none;
    }
    :root{
        --texto-header: 10px;
    }
    .container{
        margin-right: 12px;
    }
    .quem-somos h1{
        font-size: 24px;
    }
    .quem-somos p{
        font-size: 18px;
    }
    .containerproposito p{
        font-size: 18px;
    }
    .containerproposito:last-child{
        transform: translate(-120%, 60%);
    }
}
