.Contato {
  min-height: 100dvh;
  text-align: center;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Contato::before {
  z-index: -1;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(157deg, transparent 50%, var(--cor-destaque) 50%), var(--cor-fundo);
  background-size: 100% 100%;
}
.contatoContainer{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}
.Contato h1 {
  font-size: 40px;
}
.Contato h2 {
  font-weight: 400;
}
.Contato form {
  background: var(--cor-fundo);
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.205);
  margin: auto;
  padding: 20px 120px;
  border-radius: 12px;
}
.Contato label,
.contatoSubmit {
  font-size: 24px;
}
.Contato input {
  padding: 4px;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.349);
}
.Contato textarea {
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.349);
  padding: 4px;
}
textarea::placeholder{
  font-family: sans-serif;
}
.Contato textarea:focus-visible,
input:focus-visible {
  outline: 1px solid var(--cor-destaque);
  border-radius: 4px;
}
.contatoSubmit {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.404);
  cursor: pointer;
  padding: 8px;
  font-size: 20px;
  background-color: var(--cor-destaque);
  color: white;
  outline: 0;
  border: 0;
  border-radius: 10px;
  font-family: sans-serif;
  
}

.contatoSubmit:hover {
  background: #757dfe;
}

.contatoVoltar {
  background: white;
  color: var(--cor-destaque);
}

@media (max-width: 680px) {
  .Contato form {
    padding: 20px 64px;
    transition: padding 250ms ease-in-out;
  }
}  
@media (max-width: 350px) {
  .Contato form {
    padding: 20px 28px;
    transition: padding 250ms ease-in-out;
  }
}  
@media (max-height: 826px) {
  .contatoContainer{
    margin-top: 72px;
  }
}  