footer {
    padding: 4rem;
    background: #08080c;
    height: max-content;
}

footer h1 {
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 16px;
    font-size: 22px;
}

footer .logo {
    padding: 3rem;
}

footer .logo p  {
    font-family: sans-serif;
}

footer .logo img {
    width: 100px;
    filter: grayscale(1);
}

.container-footer {
    /* margin-top: 1rem; */
    display: flex;
    gap: 2vw;
    justify-content: center;
}

footer p{
    cursor: pointer;
}

.container-footer p,
.container-footer nav,
.container-footer a {
    /* margin-top: 1rem;  */
    color: #ffffff;

    a {
        color: #ffffff;
    }
}

@media (max-width: 780px) {
    .container-footer {
      flex-direction: column;
      gap: 2rem;
      max-width: max-content;
      margin: auto;
    }
    footer{
        text-align: center;
        padding: 64px 16px;
    }
    footer .logo{
        margin: auto;
    }
    footer .logo {
        padding: 0;
    }
  }