footer {
    background: var(--cor-footer);
    height: max-content;
}

footer h1 {
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 16px;
    font-size: 22px;
}

footer .logo {
    align-self: center;
}

footer .logo p  {
    font-family: sans-serif;
    color: white;
}

footer .logo img {
    width: 100px;
    filter: grayscale(1);
}

.container-footer {
    padding: 4rem;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    color: white;
}

footer p{
    cursor: pointer;
}
.container-footer div p,.container-footer div a {
    color: white;
}
.container-footer-border{
    border-top: 1px solid rgb(255, 255, 255);
    padding: 36px 4rem;
    margin: 0rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-footer-border p{
    color: white;

}
@media (max-width: 780px) {
    .container-footer {
      flex-direction: column;
      gap: 2rem;
      max-width: max-content;
      margin: auto;
      padding: 64px 16px;
    }
    footer{
        text-align: center;
        padding: 0;
    }
    footer .logo{
        margin: auto;
    }
    footer .logo {
        padding: 0;
    }
  }