.HeaderBorder {
  background-color: var(--cor-header-fundo);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 1000;
  /* background: var(--cor-fundo); */
  position: sticky;
  padding: 0.5rem;
}

header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90rem;
  max-width: 90%;

}

header ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo p {
  text-align: center;
  color: var(--cor-destaque);
  margin-left: 8px;
  font-family: "Baby";
  font-weight: bolder;
  font-size: var(--texto-header);
}

.container {
  width: max-content;
}

.bar {
  height: 2px;
  width: 0;
  background-color: var(--cor-destaque);
  transition: width 0.3s ease;
}

.container:hover .bar {
  width: 100%;
}

.settings {
  cursor: pointer;
  position: relative;
}

.settings:hover .menu-hidden {
  display: block;
}

.menu-hidden {
  padding: 4px;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  background-color: var(--cor-header-fundo);
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  list-style: none;
  margin: 0;
  width: max-content;
  z-index: 1;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.menuSvg {
  display: none;
  margin: auto;
  cursor: pointer;
}
.menuMobile{
  display: none;
  overflow: hidden;
  margin-top: 1rem;

}
@media (max-width: 1000px) {
  header .logo {
    display: none;
  }

  header {
    justify-content: center;
  }
}

@media (max-width: 725px) {
  header ul {
    gap: 2rem;
  }

}

@media (max-width: 530px) {

  .light,
  .dark {
    --texto-header: 12px;
  }
}

@media (max-width: 420px) {
  header {
    display: block;
  }

  .menuPc{
    display: none;
  }
  .menuSvg {
    display: block;
  }

  header ul {
    flex-direction: column;
  }

  .menu-open {
    display: block;
  }

  .menu-closed {
    display: none;
  }

  .menu-hidden {
    transition: opacity 0.3s ease-in-out;
  }

  .menu-hidden.hide {
    opacity: 0;
    pointer-events: none;
  }

  .menu-hidden.show {
    opacity: 1;
    pointer-events: auto;
  }

}