.sectionProductBlock {
    padding: 0px 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -10;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 180px;
}

.wave .shape-fill {
    fill: var(--cor-destaque);
}
.sectionProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.sectionProductImg1 {
    margin-top: 2rem;
}

.ProductText {
    text-align: center;
    padding: 10px;
}

.ProductText p {
    font-size: 1.5rem;
}

.ProductText h1 {
    font-size: 3rem;
}

.sectionProduct2 {
    align-items: center;
    display: flex;
    margin: auto;
    width: 90rem;
    max-width: 90%;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 5rem;
}

.sectionProduct2-texto {
    max-width: 512px;
    font-size: 22px;
    text-align: justify;
}

.appTela {
    max-width: 300px;
    width: 100%;
}

.appTela2 {
    max-width: 200px;
    width: 100%;
}

.sectionProduct3 {
    text-align: center;
    margin: auto;
    width: 90rem;
    max-width: 90%;
    padding-bottom: 5rem;
    gap: 2rem;
    font-size: 22px;
}

.sectionProduct3 video {
    width: 100%;
}

.containerappTela {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.sectionProduct3-texto {
    max-width: 800px;
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    justify-self: center;
    margin: auto;
}

.downloadButtons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.downloadBtn {
    display: flex;
    align-items: center;
    border-radius: 4px;
    width: max-content;
    font-size: 1em;
    background-color: black;
    font-family: sans-serif;
    color: white;
    padding: 6px;
}

.downloadBtn:hover {
    color: white;
}

.downloadBtn strong {
    font-size: 1.5em
}

.downloadIcon {
    width: 40px;
}

@media (max-width: 900px) {
    .ProductText {
        padding-bottom: 0;
    }
    .wave svg {
        height: 100px;
        transition: height 250ms ease;
    }
}

@media (max-width: 770px) {
    .appTela {
        max-width: 200px;
    }
}

@media (max-width: 710px) {
    .containerappTela {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 540px) {
    .downloadBtn {
        font-size: 1rem;
    }

    .downloadBtn strong {
        font-size: 1rem;
    }
}
@media (max-width: 490px) {
    .sectionProduct2 {
        flex-direction: column-reverse;
    }
}
@media (max-height: 820px) {
    .wave svg {
        height: 50px;
    }
}

