.quem-somos-hero {
  height: 500px;
  background: url(../assets/img/background.avif);
  background-position: center;
  background-size: cover;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 4rem;
}

.quem-somos {
  text-align: center;
}
.quemSomosBody{
  padding-bottom: 64px;
}
.ContatoQuemsomosA {
  display: block;
  width: max-content;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.ContatoQuemsomosBtn {
  font-size: 20px;
}

.quem-somos h1 {
  font-size: 3.5rem;
}

.quem-somos p {
  font-size: 24px;
  padding: 2rem 16px;
}

.quem-somos img {
  max-width: 380px;
}

.empresaMissao {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 5rem;
}

.containerproposito {
  padding: 24px;
  align-items: center;
  text-align: center;
  width: 300px;
  background: #225cad0e ;
  border-radius: 5vw;
}

.containerproposito p,
li {
  font-size: 20px;
  font-family: "Baby";
  font-weight: 200;
}

.containerproposito img {
  margin-bottom: 8px;
}

/*  Animação dos icones da missao visao valores*/
.containerproposito img:hover {
  transform: translate(0px, -10px);
  transition: 0.2s transform ease;
}
.containerproposito:hover {
  background: #3584f31e ;
}

.TituloQS {
  animation: tituloqs 3s infinite ease-in-out;
}

.iconMission:hover {
  transform: translate(0px, -10px);
  transition: all 0.2s;
}

.iconMission:hover .st0 {
  transition: all 0.2s;
  stroke: rgb(255, 243, 79);
}

.iconFlag:hover {
  transform: translate(0px, -10px);
  transition: all 0.2s;
}

.iconFlag:hover .iconFlagFill {
  transition: all 0.2s;
  fill: rgb(255, 243, 79);
}

.iconFlagFill {
  fill: rgb(79, 81, 255);
}

.iconHeart:hover {
  transform: translate(0px, -10px);
  transition: all 0.2s;
}

.iconHeartFill:hover {
  transition: all 0.2s;
  fill: yellow;
}

@keyframes tituloqs {
  50% {
    letter-spacing: 2px;
  }

  100% {
    letter-spacing: 0px;
  }
}

@media (max-width: 660px) {

  .containerproposito p,
  .containerproposito li {
    font-size: .8rem;
  }

  .containerproposito {
    padding: 4px;
  }
}
@media (max-width: 535px) {
  .quem-somos h1 {
    font-size: 2.5rem;

  }

  .quem-somos p {
    font-size: 18px;
  }

  .quem-somos img {
    width: 50%;
  }

  .containerproposito p,
  li {
    font-size: 0.8rem;
    list-style-type: none;
  }

  .containerproposito h1 {
    font-size: 24px;
  }
  .empresaMissao{
    gap: 2px;
  }
  .containerproposito svg {
    width: 92px;
  }

  .containerproposito {
    padding: 4px;

  }
}