* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.light {
  --cor-fundo: rgb(252, 252, 252);
  --cor-texto: #000000;
  --cor-texto2: rgb(80, 80, 80);
  --cor-header-fundo: rgb(255, 255, 255);
  --cor-texto-botao: #ffffff;
  --cor-destaque: #3387FF !important;
  --texto-header: 22px;
  --cor-footer: #101010;
}

/* .dark {
  --cor-fundo: #131316;
  --cor-texto: #fafafa;
  --cor-texto2: rgb(180, 180, 180);
  --cor-header-fundo: #1a1a1f;
  --cor-texto-botao: #000000;
  --cor-destaque: #496894 !important;
  --cor-footer: #00000047;
} */

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

a,
p,
h1,
li {
  color: var(--cor-texto);
  text-decoration: none;
}

button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 10px 25px;
  font-size: 22px;
  background: linear-gradient(182deg, #3387FF, #73aaf8);
  color: white;
  width: max-content;
  outline: 0;
  border: 0;
  border-radius: 10px;
  font-family: sans-serif;
  z-index: 0;
  box-shadow: 0px 10px 22px 0px rgba(26, 36, 53, 0.158);
}

button:hover{
  background: linear-gradient(182deg, #3387FF, #3387FF);
}
ul a {

  position: relative;
  z-index: 1;
  color: var(--cor-texto);
  font-size: var(--texto-header);
}

a:hover {
  color: var(--cor-destaque);
  transition: all 0.3s;
}


.tech {
  font-family: 'kanit';
  font-size: 13px;
  text-transform: uppercase;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
}


.destaque {
  background: linear-gradient(-90deg, #23559b 0%, #539bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--cor-destaque);
  margin: auto;
  width: max-content;
}

section {
  min-height: 100vh;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90rem;
  max-width: 90%;
  justify-content: center;
  gap: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section p {
  font-size: 22px;
}

section button {
  font-size: 22px;
  width: max-content;
  font-family: "Baby";
}

.text {
  text-align: center;
}
@media (max-width:900px) {
  .animationArea span{
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 535px) {
  .Welcome-title {
    font-size: 1.5rem;
  }

  .text {
    text-align: center;
  }

  section {
    flex-direction: column;
    gap: 0;
  }

  .odsContainer {
    flex-direction: column-reverse;
  }

  section img {
    transform: translateY(0px);
    max-width: 350px;
  }


}
.linkBtn {
  color: white;
  padding: 0;
}

.linkBtn:hover {
  color: white;
}