* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Baby";
  src: url(./assets/fonts/Baby\ Doll.otf);
}

@font-face {
  font-family: "Kanit";
  src: url(./assets/fonts/Kanit-Regular.ttf);
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.light {
  /* Cores do CLARO */
  --cor-fundo: rgb(252, 252, 252);
  --cor-texto: #000000;
  --cor-texto2: rgb(80, 80, 80);
  --cor-header-fundo: rgb(255, 255, 255);
  --cor-texto-botao: #ffffff;
  --cor-destaque: #5156AE !important;
  --texto-header: 22px;
}

.dark {
  /* TEMA ESCURO */
  --cor-fundo: #15151c;
  --cor-texto: #fafafa;
  --cor-texto2: rgb(180, 180, 180);
  --cor-header-fundo: #1a1a22;
  --cor-texto-botao: #000000;

}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  transition: background-color 0.3s, color 0.3s;
}

a,
p,
h1,
li {
  color: var(--cor-texto);
  text-decoration: none;
  /* font-family: "Kanit", sans-serif; */
}

button {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.404);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 8px;
  font-size: 12px;
  background-color: var(--cor-destaque);
  color: white;
  width: 108px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  font-family: "Baby";
  z-index: 0;
}

button:after {
  border-radius: 1rem;
  content: '';
  background-color: #757dfe;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: -1;
  transition: scale 0.5s ease-in-out;
}

button:hover {
  scale: 1.1;
  color: white;
  transition: all 0.3s;
}

button:hover::after {
  width: 2px;
  height: 2px;
  scale: 200;
}

ul a {

  position: relative;
  z-index: 1;
  color: var(--cor-texto);
  font-size: var(--texto-header);
}

a:hover {
  color: var(--cor-destaque);
  transition: all 0.3s;
}


.tech {
  font-family: 'kanit';
  font-size: 13px;
  text-transform: uppercase;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
}

#ImgTheme {
  padding-top: 8px;
  width: 22px;
  cursor: pointer;
}

.destaque {
  background: linear-gradient(-90deg, rgb(50, 53, 143) 0%, rgb(152, 124, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--cor-destaque);
}

section {
  height: 820px;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90rem;
  max-width: 90%;
  justify-content: center;
  gap: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section p {
  font-size: 22px;
}

section button {
  font-size: 22px;
  width: max-content;
  font-family: "Baby";
}

.text {
  text-align: center;
}

@media (max-width: 1400px) {

  ul {
    list-style-type: none;
  }


}



@media (max-width: 900px) {

  .gifHome {
    max-width: 200px;
  }

  .sectionProduct {
    flex-direction: column-reverse;
  }

  .sectionProduct {
    height: max-content;
  }
}

@media (max-width: 780px) {

  .Welcome-title,
  .Product-title {
    font-size: 2rem;
  }

  .container-texto-footer {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 700px) {

  header ul {
    gap: 3rem;
  }
}

@media (max-width: 560px) {
  header ul {
    gap: 1.5rem;
  }

  .Welcome-title,
  .Product-title {
    font-size: 1.5rem;
  }

  section img,
  .sectionProduct img {
    max-width: 200px;
  }
}

@media (max-width: 535px) {
  .downloadBtn {
    font-size: 0.8em;
  }

  .Welcome-title {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 0.8rem;
  }

  .text {
    text-align: center;
  }

  section {
    flex-direction: column;
    gap: 0;
  }

  .odsContainer {
    flex-direction: column-reverse;
  }

  section img {
    transform: translateY(0px);
    max-width: 350px;
  }

  .quem-somos h1 {
    margin-top: 3rem;
    font-size: 2.5rem;

  }

  .quem-somos {
    margin-top: 36px;
    padding: 6px;
  }

  .quem-somos p {
    font-size: 18px;
  }

  .quem-somos img {
    width: 50%;
  }

  .containerproposito p,
  li {
    font-size: 0.8rem;
    list-style-type: none;
  }

  .containerproposito h1 {
    font-size: 1rem;
  }

  .containerproposito svg {
    width: 92px;
  }

  .containerproposito {
    padding: 4px;
  }
}

.container button {
  font-size: var(--texto-header);
}

.linkBtn {
  color: white;
  padding: 0;
}

.linkBtn:hover {
  color: white;
}